.items-grid {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 30px;
  grid-template-areas:
    ". img ."
    ". img ."
    // "img img img"
    "code code code"
    "name name name"
    "price-span cart-icon like-icon";
  width: 350px;
  height: 350px;
  border: 1px gray solid;
  h1,
  h2,
  h3 {
    margin: 0;
    font-size: 16px;
  }
}
.item-card__img {
  grid-area: img;
  max-width: 250px;
  max-height: 250px;
  margin-top: 10px;
}
.item-card__price {
  grid-area: price;
}
.item-card__name {
  grid-area: name;
}
.item-card__code {
  grid-area: code;
}
.item-card__price-span {
  grid-area: price-span;
  display: flex;
  flex-direction: row;
}
.item-card__price_line-through {
  text-decoration: line-through;
}

.item-card__like-icon {
  grid-area: like-icon;
}

.item-card__cart-icon {
  grid-area: cart-icon;
}
