// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

// Font variables
$sans-serif: 'Roboto', sans-serif;
$monospace: 'Fira Code', monospace;

$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 24px;

// Color variables
$color-primary: #bf787e;
$color-primary-light: lighten(#bf787e, 10%);
$color-secondary: #d9c2ba;
$color-warning: #a63737;
$color-white: #fff;
$color-black: #000;

$gradient: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);

// Shadow variables
$shadow: 5px 5px 34px -12px #878787;

// Border variables
$border-radius-md: 10px;
$border-radius-sm: 5px;
